# .github/workflows/pr-kicad-diff.yaml
name: KiCad Pull Request Diff

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
    - opened
    - synchronize

jobs:
  kiri-diff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Create diff folder
      run: mkdir -p ./diff/
        
    - name: Kiri
      uses: hacker-fab/kiri-github-action@v2.0.5
      with:
        project-file: kicad/productname.kicad_pro
        report: html
        output-dir: ./diff

    - name: Upload KiCad diff results (for debugging)
      uses: actions/upload-artifact@v4
      with:
        name: kicad-diff
        path: ./diff/

    
    - name: Check diff directory
      run: |
        echo "Listing ./diff/ directory..."
        ls -R ./diff/


    - name: Deploy diff to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GH_PAT }}
        publish_branch: gh-pages
        publish_dir: ./diff/
        destination_dir: pr-${{ github.event.pull_request.number }}

